<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Баннер на главной</title>
</head>
<body>

<form method="post" enctype="multipart/form-data">
    <input type="text" name="bannerTitle" th:value="${mainBanner !=null ? mainBanner.bannerTitle : null}">
    <br>
    <textarea name="bannerText" th:text="${mainBanner !=null ? mainBanner.bannerText: null}"></textarea>
    <br>
    <input type="text" name="buttonTitle" th:value="${mainBanner !=null ? mainBanner.buttonTitle: null}">
    <br>
    <input type="text" name="buttonLink" th:value="${mainBanner !=null ? mainBanner.buttonLink: null}">
    <br>
    <input type="file" name="imgFile" accept="image/*">
    <input type="hidden" name="imgName" th:value="${mainBanner !=null ? mainBanner.imgName: null}">



    <input type="hidden" name="id" th:value="${mainBanner !=null ? mainBanner.id: null}">
    <br>
    <input type="submit" value="Сохранить">




</form>


</body>
</html>