<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Фрагмент для подключения head -->
<head th:fragment="head(title)">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- параметр -->
    <title th:text="${title}"></title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/small-business.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>

<!-- Navigation -->
<!--фрагмент навигации-->
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Travel Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <ul sec:authorize="isAnonymous()" class="nav navbar-nav ml-3">
                <li class="nav-item">
                    <a class="nav-link" href="/registration/"><span class="fas fa-user"></span>registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/"><span class="fas fa-sign-in-alt"></span> Login</a>
                </li>
            </ul>
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav ml-3">
                <li class="nav-item">
                    <span class="nav-link" href="#"><span class="fas fa-user"></span>
                    <th:block sec:authentication="name"></th:block>
                    </span>
                </li>
                <li class="nav-item">
                    <form method="post" action="/logout/">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <button type="submit" class="btn btn-link nav-link"><span class="fas fa-sign-out-alt"></span> Logout</button>
                    </form>

                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <!--/*@thymesVar id="banner" type="ru.seschool.travel_blog.entities.Banner"*/-->
    <!-- Heading Row -->
    <div th:fragment="mainBanner(banner)" class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0 main-banner-img"
                 th:src="@{{fileName}(fileName=${banner.imgName})}" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">

            <h1 class="font-weight-light" th:text="${banner.bannerTitle}"></h1>
            <p th:text="${banner.bannerText}"></p>
            <a class="btn btn-primary" th:href="@{${banner.buttonLink}}" th:text="${banner.buttonTitle}"></a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div th:fragment="callToAction(text)" class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0" th:text="${text}"></p>
        </div>
    </div>

    <!-- Content Row -->

    <!--  <th:block th:fragment="blogPostsMain(blogPosts)">-->

    <div th:fragment="blogPostsMain(blogPosts)" class="row">

        <th:block th:each="post: ${blogPosts}">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <!--/*@thymesVar id="post" type="ru.seschool.travel_blog.entities.BlogPost"*/-->
                        <h2 th:text="${post.title}" class="card-title"></h2>
                        <p th:utext="${post.previewText}" class="card-text"></p>
                        <img th:src="${post.previewImg}" class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/posts/{id}/(id=${post.id})}" class="btn btn-primary">Подробнее &rarr;</a>
                    </div>


                </div>
            </div>
        </th:block>

    </div>
    <!-- Pagination -->
    <th:block th:fragment="blogPostsPagination(blogPostsPage,pageNumbers,pageUrl)">
               <!--/*@thymesVar id="blogPostsPage" type="org.springframework.data.domain.Page"*/-->
        <ul th:if="${blogPostsPage.getTotalPages()>1}" class="pagination justify-content-center mb-4">
            <li th:class="${(blogPostsPage.getNumber()+1==1) ? 'page-item disabled': 'page-item'}">
                <a th:href="@{${pageUrl}(page=${blogPostsPage.getNumber()})}" class="page-link">&larr; Назад</a>
            </li>
            <th:block th:each="num:${pageNumbers}">

                <li th:class="${((blogPostsPage.getNumber()+1)==num) ? 'page-item active': 'page-item' }">
                    <a th:text="${num}" class="page-link" th:href="@{${pageUrl}(page=${num})}"></a>
                </li>

            </th:block>

            <li th:class="${blogPostsPage.getNumber()+1==blogPostsPage.getSize()+1 ? 'page-item disabled':'page-item'}">
                <a th:href="@{${pageUrl}(page=${blogPostsPage.getNumber()+2})}" class="page-link">Вперёд &rarr;</a>
            </li>
        </ul>

    </th:block>

</div>


<!-- Blog Post -->
<div th:fragment="postsList(blogPosts)" th:each="post: ${blogPosts}" class="card mb-4">


    <i th:class="${'fa fa-heart fa-lg like '+(favorites.contains(post.id) ? 'active':'')}"

       th:attr="data-post-id=${post.id}" > </i>

    <!--/*@thymesVar id="post" type="ru.seschool.travel_blog.entities.BlogPost"*/-->
    <img th:src="${post.previewImg}" class="card-img-top" alt="Card image cap">
    <div class="card-body">

        <h2 th:text="${post.title}" ass="card-title"></h2>
        <p th:utext="${post.previewText}" class="card-text"></p>
        <a th:href="@{/posts/{id}/(id=${post.id})}" class="btn btn-primary">Читать больше &rarr;</a>

    </div>
    <div th:if="${post.getDateCreate()!=null}" class="card-footer text-muted">
        Опубликовано [[${post.FormattedCreateDate()}]]
    </div>

</div>


<!-- Search Widget -->
 <div th:fragment="searchWidget(query)" class="card my-4">
     <form action="/search/">
         <h5 class="card-header">Поиск</h5>
         <div class="card-body">
             <div class="input-group">
                 <input th:value="${query}" name="q" type="text" class="form-control" placeholder="Что найти....">
                 <span class="input-group-append">
                <button class="btn btn-secondary" type="submit">Искать!</button>
              </span>
             </div>
         </div>
     </form>
 </div>


<!-- Footer -->
<!--фрагмент футер-->
<footer th:fragment="footer" class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/like.js"></script>
</footer>


</body>

</html>
