/*!
 * Start Bootstrap - Small Business (https://startbootstrap.com/templates/small-business)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-small-business/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.main-banner-img{
  width: 900px;
  height: 400px;
}

.like {
  position: absolute;
  color: darkgrey;
  cursor: pointer;
  right: 1%;
  top: 2%;
}
.like:hover,.active {
  color: red;
}