<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--подключить head-->
<head th:replace="fragments/general::head(title='подробнее о путешествии')"></head>

<body>
<th:block th:replace="fragments/general::navigation"></th:block>

<!--содержимое строницы поста-->

<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div>
            <!-- Title -->
            <h1 th:text="${postById.title}" class="mt-4"></h1>
            <hr>
            <!-- Date/Time -->
            <div th:if="${postById.getDateCreate()!=null}" class="card-footer text-muted">
                Опубликовано [[${postById.FormattedCreateDate()}]]
            </div>
            <hr>
            <!-- Preview Image -->
            <img th:src="${postById.detailImg}" class="img-fluid rounded" alt="картинка о путешествии">
            <hr>
            <!-- Post Content -->
            <p th:text="${postById.detailText}"></p>
            <hr>
            <a th:href="@{/posts/}" class="btn btn-primary">Список постов</a>
        </div>
    </div>
</div>
<!--footer-->
<th:block th:replace="fragments/general::footer"></th:block>
</body>
</html>