<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Подключить head-->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Регистрация</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/login.css" rel="stylesheet">

</head>
<body>
<!--Содержимое страницы-->
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Зарегистрируйтесь, чтобы продолжить</h3>

                            <div th:if="${message!=null}" th:class="${'alert alert-'+messageClass}" th:text="${message}"></div>

                            <form action="/registration/" method="post">
                                <div class="form-label-group">
                                    <input type="text" name="username" id="inputLogin" class="form-control" placeholder="Логин" required autofocus>
                                    <label for="inputLogin">Логин</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
                                    <label for="inputPassword">Пароль</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" name="passwordConfirm" id="inputPasswordConfirm" class="form-control" placeholder="Подтверждение пароля" required>
                                    <label for="inputPasswordConfirm">Подтверждение пароля</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required >
                                    <label for="inputEmail">Email</label>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Зарегистрироваться</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>